@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #0891B2;
    --off-white: #F3F4F6;
    --dark-gray: #71717A;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

hr{
    margin: 2rem 0rem;
}

.container{
    padding: 0rem 1rem ;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.showcase-list{
    padding: 1rem;
}

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding:0.5rem 1rem ;
}

.link .img{
    width: 30px;
    height: 30px;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 118px;
    text-align: center;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 126px;
    text-align: center ;
    margin: 1rem 1rem 1rem 0rem;
}

.list-non-bullet{
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem ;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link{
    color: white;
    text-align-last: right;
    
}

.nav-pills{
    text-align-last: right;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.2rem;
}
.navigation .link-active{
    font-weight: bold;
}

.header{
    padding: 0.5rem;
}

.header .header-img{
    max-width: 400px;
    display: block;
    margin: auto;
}

.header .header-heading{
    color: var(--dark-gray);
    text-align: center ;
}

.header .header-inverted{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}

.section  h1{
    text-align: center;
    
}

.ow{
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}